{% extends "service/base.html" %}

{% block app_content %}
    <h3 class="ui header">
        <i class="bullhorn icon"></i>
        Dashboard
    </h3>
    <div class="ui grid">
        <div class="four wide column">
            
        </div>
        <div class="ten wide column">
            <div class="ui horizontal statistic">
                <div class="value">
                    2204
                </div>
                <div class="label">
                    views
                </div>
            </div>
        </div>
    </div>
{% endblock %}